# SPDX-License-Identifier: Apache-2.0

# Enable UART
CONFIG_SERIAL=y

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y

# #  RTT
# CONFIG_USE_SEGGER_RTT=y

# # RTT shell 
# CONFIG_SHELL=y
# CONFIG_SHELL_BACKEND_RTT=y
# CONFIG_SHELL_BACKEND_SERIAL=y
# CONFIG_SHELL_VT100_COLORS=y
# CONFIG_SHELL_TAB=y
# CONFIG_SHELL_VT100_COMMANDS=y
